@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: 'Inter', sans-serif;
}

body {
  @apply text-black text-base overflow-x-hidden;  // 16px
}

@layer base {
  h1 {
    @apply text-8xl font-light;  //  96px - 300
  }
  h2 {
    @apply text-6xl font-semibold;  //  60px - 600
  }
  h3 {
    @apply text-5xl font-semibold;  //  48px - 600
  }
  h4 {
    font-size: 2.125rem;  //  34px
  }
  h5 {
    @apply text-2xl font-semibold;  //  24px - 600
  }
  h6 {
    @apply text-xl font-semibold;  //  20px - 600
  }

  .subtitle-1 {
    @apply text-base; // 16px
  }

  .subtitle-2 {
    @apply text-sm; // 14px
  }

  .body-1 {
    @apply text-base; // 16px
  }

  .body-2 {
    @apply text-sm; // 14px
  }

  button {
    @apply text-sm font-semibold; // 14px - 600
  }

  caption {
    @apply text-xs; // 12px
  }

  .overline {
    font-size: 0.625rem; // 10px
  }
}

footer {
  padding: 4.25rem 4.5rem 4.5rem 4.5rem;

  @media (max-width: 768px) {
    @apply p-5;
  }

  .left {
    max-width: 65%;
    @media (max-width: 768px) {
      max-width: 100%;
    }
  }
}

section {
  @apply py-6 md:py-12;
}

.subject-section {
  .subject {
    @apply flex flex-col md:flex-row mx-5 md:mx-0;
    min-width: calc(100% - 5rem);
  }
}

.image-16x9 {
  @apply relative;
  padding-top: 56.25%;
}
