@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #212529;
}

.footer {
  padding: 4.25rem 4.5rem 4.5rem 4.5rem;

  @media (max-width: 768px) {
    @apply p-5;
  }

  .left {
    max-width: 65%;
    @media (max-width: 768px) {
      max-width: 100%;
    }
  }
}

.font-34 {
  font-size: 34px;
  line-height: 1.2;
}

.subject-section {
  .subject {
    @apply flex flex-col md:flex-row mx-5 md:mx-0;
    min-width: calc(100% - 5rem);
  }
}
